services:
  mega:
    build: .
    container_name: mega-sync
    restart: unless-stopped
    environment:
      # Sync Directories
      - SYNC_LOCAL_1=/data/docs
      - SYNC_REMOTE_1=/CloudDrive/Documents
      - SYNC_LOCAL_2=/data/photos
      - SYNC_REMOTE_2=/CloudDrive/Photos

      # Monitoring
      - GOTIFY_URL=https://gotify.app.artesian.co.za
      - GOTIFY_TOKEN=A7kLvHZ4Ns8NvXQ
    volumes:
      # Persist Session
      - ./mega-session:/root/.megaCmd

      # Mounted folders mapped to sync directories (above)
      - ./my-documents:/data/docs
      - ./my-photos:/data/photos