services:
  mega:
    build: .
    container_name: mega-sync
    restart: unless-stopped
    ports:
      - "8888:5000"
    environment:
      # Sync Directories
      - SYNC_LOCAL_1=/data/docs
      - SYNC_REMOTE_1=/CloudDrive/Documents
      - SYNC_LOCAL_2=/data/photos
      - SYNC_REMOTE_2=/CloudDrive/Photos
      - PUID=${USER_ID}
      - PGID=${USER_ID}

      # Monitoring
      - GOTIFY_URL={GOTIFY_URL}
      - GOTIFY_TOKEN={GOTIFY_TOKEN}
    volumes:
      # Persist Session
      - ./mega-session:/root/.megaCmd

      # Mounted folders mapped to sync directories (above)
      - ./my-documents:/data/docs
      - ./my-photos:/data/photos